{% extends "header.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<form action="{% url 'opencart:create_category_check' %}" method="POST">
    {% csrf_token %}
    
    {% for field in fields %}
        <label for="{{ field }}">{{ field }}</label>

        <input type="text" name="{{ field }}">
        <br>
    {% endfor %}
    <input type="submit">
</form>

<!-- <table>
    <thead>
        <th>*cehckbox*</td>
        <th>Category name</td>
        <th>Edit</td>
    </thead>
    {% for c in categories %}
    <tr>
        <td>checkbox</td>
        <td>c</td>
        <td>edit</td>
    </tr>
    {% endfor %}
</table> -->




{% endblock %}